<!DOCTYPE html>
<html lang="pt-br" ng-app="ipt">
<base href="/">
<meta charset="UTF-8">

<title>Internet para Todos</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css' type='text/css'>
<link rel="stylesheet" href="css/angular-growl.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" type="image/x-icon" href="./css/favicon.ico">

<body>
    <div growl limit-messages="1"></div>
    <ng-view></ng-view>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/lib/jquery-3.2.1.min.js"></script>

    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular-growl.min.js"></script>
    <script src="js/lib/ngMask.min.js"></script>

    <script src="js/controllers/formulario.controller.js"></script>

    <script src="js/services/service.js"></script>
    <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="js/lib/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/lib/bootbox.min.js"></script>
</body>

</html>